.styled-table {
    border-collapse: collapse;
    width: 100%;
}

.styled-table th, .styled-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table th {
    background-color: #030202;
    font-weight: bold;
}

center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }